@page "/add-new"
@inject IMovieRepository Repository
@inject NavigationManager Navigation

<PageTitle>
    Add New Movie
</PageTitle>

<div class="row justify-content-center">
    <div class="col-6 m-3">
        <MovieForm IsEditMode="false" OnValidMovieSubmit="AddMovie"></MovieForm>
    </div>
</div>

@code {
    
    private async Task AddMovie(Movie movie)
    {
        await Repository.AddAsync(movie);
        Navigation.NavigateTo("/");
    }

}
